html,body{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
}
#druzyna1{
    background-color: #FF0000;
    background-image: url(../grafika/Background-red.png);
    background:linear-gradient(rgba(255,0,0,0.4),rgba(255,0,0,0.4)),url(../grafika/Background-red.png);
}
#druzyna2{
    background-color: #0000FF;
    background:linear-gradient(rgba(0,0,255,0.4),rgba(0,0,255,0.4)),url(../grafika/Background-blue.png);
}
#nazwa_druzny1,#nazwa_druzny2{
    text-align: center;
    font-size: 80px;
    color: white;
    padding-top: 20px;
}
.overtimed{
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    align-items: center;
    align-content: center;
}
#punkty{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    color: white;
}
#points1,#points2{
    margin-left: 25px;
    font-weight: 800;
    font-family: "Orbitron", sans-serif;
    font-size: 100px;
    display: flex;
    gap: 1rem;
    height: 8rem;
    line-height: 8rem;
}

.digit {
    width: 6rem;
    position: relative;
    overflow: hidden;
    border-bottom: 0.25rem solid white;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.digit.visible {
    opacity: 1;
}

.digit-track {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 0%;
    translate: 0% 0%;
    transition: translate 1000ms cubic-bezier(.1, .67, 0, 1);
}