html,body{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
}
body{
    background-image: url('../grafika/back2.png');
}
/* #druzyna1{
    background: rgb(241,112,112);
    background: radial-gradient(circle, rgba(241,112,112,1) 0%, rgba(236,66,66,1) 85%, #ec3f3f 100%);
}
#druzyna2{
    background: rgb(112,158,241);
    background: radial-gradient(circle, rgba(112,158,241,1) 0%, rgba(66,134,236,1) 85%, #3f86ec 100%);
} */
#nazwa_druzny1,#nazwa_druzny2{
    text-align: left;
    margin-left: 7%;
    font-size: 80px;
    color: black;
    padding-top: 20px;
}
#nazwa_druzny2{
    text-align: right;
    margin-right: 7%;
}
.overtimed{
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    align-items: center;
    align-content: center;
}
#punkty{
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 150px;
    color: black;
}
.punkty1{
    margin-left: 7%;
}
.punkty2{
    width: 100%;
    margin-left: -10%;
}
#points1,#points2{
    width: 100%;
    text-align: right;
    margin-left: 25px;
    font-weight: 800;
    font-family: "Orbitron", sans-serif;
    font-size: 100px;
    display: flex;
    gap: 1rem;
    height: 8rem;
    line-height: 8rem;
}
#points2{
    width: 100%;
    text-align: right;
    margin-right: 10%;
    margin-left: 0;
    font-weight: 800;
    font-family: "Orbitron", sans-serif;
    font-size: 100px;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    height: 8rem;
    line-height: 8rem;
}
.digit {
    width: 6rem;
    position: relative;
    overflow: hidden;
    border-bottom: 0.25rem solid white;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.digit.visible {
    opacity: 1;
}

.digit-track {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 0%;
    translate: 0% 0%;
    transition: translate 1000ms cubic-bezier(.1, .67, 0, 1);
}

#logo-container {
    position: absolute;
    top: -10px;
    left: 42.3%;
    z-index: 1000;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}